@import 'mixins';

.contact_us {
  background: #f0f0f2;
  min-width: 1200px;
  height: auto;
  position: relative;
  .full-width {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .mobile-banner-image {
    display: none;
  }
  .items {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    min-width: 1200px;
    padding-left: 100px;
    padding-right: 100px;
    top: 40%;
    .item {
      width: 250px;
      padding: 16px;
      text-decoration: none;
      .circle {
        width: 80px;
        height: 80px;
        border: 1px solid #666666;
        border-radius: 80px;
        align-content: center;
        .fa {
          font-size: 33px;
          color: #666666;
        }
      }
      .detail {
        white-space: pre-wrap;
        .horizontal-divider {
          width: 166px;
          height: 1px;
          background-color: #a80309;
        }
        .vertical-divider {
          width: 1px;
          height: 42px;
          background-color: #a80309;
        }
        p {
          width: 100%;
          text-align: center;
          font-size: 16px;
          color: #a80309;
        }
        .bold-title {
          font-weight: bold;
          margin-top: 14px;
        }
        .company-info {
          font-size: 13px;
          color: #000;
          text-align: center;
          line-height: 26px;
        }
        .widget {
          width: 100%;
          height: 48px;
          color: #a80309;
          cursor: pointer;
          text-align: center;
          span {
            font-size: 18px;
            font-weight: bold;
          }
          .text {
            font-size: 15px;
          }
        }
        .qr-code {
          width: 132px;
          height: 132px;
          margin-top: 20px;
        }
      }
    }
  }
}

@include respond-to(mobile) {
  .contact_us {
    min-width: 100%;
    height: 600px;
    position: relative;
    .full-width {
      display: none;
    }
    .mobile-banner-image {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover; 
    }
    .items {
      position: absolute;
      left: 0px;
      right: 0px;
      min-width: 100%;
      padding-left: 0px;
      padding-right: 0px;
      top: 30%;
      .item {
        width: 47%;
        margin-left: -15%;
        margin-right: -15%;
        padding: 0px;
        .circle {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          .fa {
            font-size: 22px;
          }
        }
        .detail {
          .horizontal-divider {
            width: 65px;
          }
          .vertical-divider {
            height: 40px;
          }
          p {
            font-size: 13px;
            line-height: 19px;
          }
          .bold-title {
            font-size: 13px;
            line-height: 19px;
          }
          .company-info {
            font-size: 11px;
            line-height: 13px;
          }
          .widget {
            height: 48px;
            font-size: 13px;
            line-height: 19px;
            span {
              font-size: 13px;
            }
            .text {
              font-size: 13px;
              line-height: 19px;
            }
          }
          .qr-code {
            width: 74px;
            height: 74px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}