@import 'mixins';

.product-shows {
  margin-left: 40px;
  margin-right: 40px;
  .show-item {
    margin-top: 40px;
    p {
      color: #101010;
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 6px;
    }
  }
}
