@import 'mixins';

.project {
  background: #f0f0f2;
  min-width: 1200px;
  height: auto;
  padding-top: 60px;
  .project-menu {
    width: 100%;
    height: 130px;
    padding: 20px;
    background: #fff;
    .menu-item {
      margin: 40px;
      font-size: 25px;
      color: #000;
      text-decoration: none;
      cursor: pointer;
      white-space: pre-wrap;
    }
    a:hover {
      color: #a80309;
    }
  }
  .list {
    margin-top: 5px;
    margin-bottom: 36px;
    width: 100%;
    .empty-item {
      position: relative;
      min-width: 390px;
      min-height: 260px;
      width: 27%;
      height: 18vw;
      margin: 5px;
    }
    #project-item {
      position: relative;
      min-width: 390px;
      min-height: 260px;
      width: 27%;
      height: 18vw;
      margin: 5px;
      cursor: pointer;
      img {
        max-width: 390px;
        max-height: 240px;
        width: 100%;
        height: 61.54vw;
        display: block;
        border: 0px;
        object-fit: contain;
        background: #fff;
      }
      p {
        min-height: 20px;
        width: 100%;
        height: 5.13vw;
        left: 0px;
        bottom: 0px;
        color: #757575;
      }
    }
  }
}

@include respond-to(mobile) {
  .project {
    min-width: 0px;
    .project-menu {
      height: 40px;
      padding: 0px 20px 0px 20px;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      .menu-item {
        margin: 0px;
        font-size: 12px;
        line-height: 17px;
      }
    }
    .list {
      padding-left: 8px;
      padding-right: 8px;
      position: relative;
      margin-top: 3px;
      margin-bottom: 18px;
      width: 100%;
      .empty-item {
        min-width: 0px;
        min-height: 0px;
        width: calc(50% - 14px);
        height: 28vw;
        margin: 3px;
      }
      #project-item {
        min-width: 0px;
        min-height: 0px;
        width: calc(50% - 14px);
        height: 28vw;
        margin: 3px;
        img {
          width: 80%;
          height: 50vw;
          display: inline-block;
        }
        p {
          font-size: 10px;
          line-height: 15px;
          bottom: -6px;
        }
      }
    }
  }
}
