@import 'mixins';

.project {
  background: #f0f0f2;
  min-width: 1200px;
  height: auto;
  padding-top: 60px;
  .project-menu {
    width: 100%;
    height: 130px;
    padding: 20px;
    background: #fff;
    .menu-item {
      margin: 40px;
      font-size: 25px;
      color: #000;
      text-decoration: none;
      cursor: pointer;
      white-space: pre-wrap;
    }
    a:hover {
      color: #a80309;
    }
  }
  .list {
    margin-top: 5px;
    margin-bottom: 36px;
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    .empty-item {
      position: relative;
      min-width: 390px;
      min-height: 260px;
      width: 24vw;
      height: 16vw;
      margin: 6px;
    }
    #project-item {
      position: relative;
      min-width: 390px;
      min-height: 260px;
      width: 24vw;
      height: 16vw;
      margin: 6px;
      cursor: pointer;
      img {
        min-width: 390px;
        min-height: 240px;
        width: 24vw;
        height: 14.77vw;
        display: block;
        object-fit: cover;
        background: #fff;
      }
      p {
        min-width: 390px;
        min-height: 20px;
        width: 24vw;
        height: 1.23vw;
        left: 0px;
        bottom: -3px;
        color: #757575;
      }
    }
  }
}

@include respond-to(mobile) {
  .project {
    min-width: 0px;
    .project-menu {
      height: 40px;
      padding: 0px 20px 0px 20px;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      .menu-item {
        margin: 0px;
        font-size: 12px;
        line-height: 17px;
      }
    }
    .list {
      margin-top: 3px;
      margin-bottom: 18px;
      width: 100%;
      padding-left: 3vw;
      padding-right: 3vw;
      .empty-item {
        position: relative;
        min-width: 0px;
        min-height: 0px;
        width: 42vw;
        height: 28vw;
        margin: 3px;
      }
      #project-item {
        min-width: 0px;
        min-height: 0px;
        width: 42vw;
        height: 28vw;
        margin: 3px;
        img {
          min-width: 0px;
          min-height: 0px;
          width: 42vw;
          height: 25.85vw;
          display: inline-block;
          object-fit: contain;
          background: #fff;
        }
        p {
          min-width: 0px;
          min-height: 0px;
          font-size: 10px;
          line-height: 15px;
          width: 42vw;
          height: 2.15vw;
          left: 0px;
          bottom: 0px;
          color: #757575;
        }
      }
    }
  }
}
