@import 'mixins';

#myCarousel {
  .full-width {
    width: 100%;
    height: auto;
    min-width: 1200px;
    min-height: 625px;
    object-fit: cover;
  }
  .banner-image {
    display: flex;
  }
  .mobile-banner-image {
    display: none;
  }
  .carousel-indicators {
    position: absolute;
    bottom: 6%;
    z-index: 1;
    width: 60%;
    padding-left: 0;
    list-style: none;
    text-align: center;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 50px;
    height: 3px;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px; 
    border-color: #888;
    background-color: #888;
  }
  .carousel-indicators .active {
    border: 0px;
    width: 50px;
    height: 4px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #444444;
  }
}

@include respond-to(mobile) {
  #myCarousel {
   .full-width {
      min-width: 100%;
      min-height: 100%;
    }
    .banner-image {
      display: none;
    }
    .mobile-banner-image {
      display: inline-block;
    }
    .carousel-indicators li {
      width: 36px;
    }
    .carousel-indicators .active {
      width: 36px;
    }
  } 
}