!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 田子创意
    = csrf_meta_tags
    = favicon_link_tag
    -# = stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'devise', 'data-turbolinks-track': 'reload'
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", integrity:"sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", crossorigin: "anonymous"}
    %link{rel: "script", src: "https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js", integrity:"sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd", crossorigin: "anonymous"}
  %body
    .col-md-offset-2.col-md-8
      = yield
    -# %p.copyright
    -#   =t('copyright')
